// Colours
// $global-background                  :#ececec !default;
$base-body-background               :#ececec !default;
$global-color                       :#2b2b2b !default;
$global-primary-background          :#00587d !default;
$global-success-background          :#009b29 !default;
$global-primary-background-light    :#332b9c;
$bidvest-blue                       :#061556;
$global-secondary-background        :#3F4A59 !default;
$gray-light                         :#dedefc !default;
$gray-medium                        :#cccccc !default;
$gray-dark                          :#666666 !default;
$global-medium-gutter               :20px !default;
$white                              :#FFFFFF;
$color-yellow                       :#feff00;


$global-font-family 	            : 'Barlow', sans-serif !default;
$global-font-size                   : 18px !default;
$base-heading-font-weight           : bolder !default;
$global-gutter                      : 15px !default;
$navbar-nav-item-height             : 80px !default;