@import '../../../styles';
@import '../../../assets/scss/uikit-override';

.main-navbar {
    background-color: $white !important;

    .side-menu-toggle {
        width: 80px;
        height: 80px;
    }
}
.main-logo {
    height: 80px;
    width: auto;
}

.uk-offcanvas-bar {
    background-color: $global-primary-background !important;
}