<nav class="uk-background-default main-navbar uk-margin" uk-sticky uk-navbar="mode: click">
    <div class="uk-navbar-left">
        <button class="side-menu-toggle" mat-icon-button uk-toggle="target: #side-menu">
            <mat-icon aria-label="Menu icon">menu</mat-icon>
        </button>
    </div>

    <div class="uk-navbar-right">
        <a class="uk-navbar-item uk-padding-remove-right uk-logo" routerLink="/">
            <img class="main-logo" src="assets/images/logo.png" alt="">
        </a>
    </div>
</nav>

<div id="side-menu" uk-offcanvas="flip: true">
    <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <h4>Notifications (10)</h4>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    </div>
</div>
