<h1 mat-dialog-title>{{ data.id ? 'Edit Task' : 'Add Task' }}</h1>
<div mat-dialog-content>
    <mat-form-field style="width: 100%">
      <input matInput [(ngModel)]="data.task" placeholder="Task">
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <input matInput [(ngModel)]="data.description" placeholder="Description">
    </mat-form-field>

    <div class="uk-margin">
        <label class="uk-form-label">Set priority - <span class="uk-badge">{{ data.priority }}</span></label>
        <div class="uk-form-controls">
            <input style="width: 100%" class="uk-range" [(ngModel)]="data.priority" type="range" value="1" min="1" max="10" step="1">            
        </div>
    </div>

    <mat-radio-group [(ngModel)]="data.status">
        <mat-radio-button class="example-radio-button" *ngFor="let item of taskStatuseData" [value]="item.value">
          {{ item.name }}
        </mat-radio-button>
    </mat-radio-group>
</div>

<div mat-dialog-actions class="uk-align-right">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" color="primary" cdkFocusInitial>Save</button>
</div>