<h1 mat-dialog-title>Task: {{ data.task }}</h1>
<div mat-dialog-content>

    <p class="uk-text-center uk-text-lead" *ngIf="taskHistory?.length == 0">No activities for this task</p>
    <mat-list role="list" *ngIf="taskHistory?.length > 0">
        <mat-list-item *ngFor="let item of taskHistory" >
            <mat-icon matListIcon>history</mat-icon>
            <p matLine class="demo-2" *ngIf="item.action == 'ADD'">was <strong>ADDED</strong> </p>
            <p matLine class="demo-2" *ngIf="item.action == 'MOVED'">was moved to <strong>{{ item.to }}</strong> </p>
            <p matLine class="demo-2" *ngIf="item.action == 'UPDATED'">was <strong>UPDATED</strong> </p>
            <h4 matLine>on {{ item.date | date: 'medium' }}</h4>
         </mat-list-item>
      </mat-list>
</div>

  <div mat-dialog-actions class="uk-align-right">
    <button mat-button (click)="onCancel()">Close</button>
  </div>