@import '../../../styles';
@import '../../../assets/scss/uikit-override';
.task-section {
    border-radius: 4px;
    background: rgba($global-muted-background, 0.6);
    .tasks-title {
        margin: 0 0 20px 0;
        padding: 10px;
        color: $white;
        border-radius: 4px;
    }

    .task-card {
        border-radius: 4px;
        border: 1px solid rgba($gray-light, 0.7);
        position: relative;
        .uk-card-title {
            font-size: 20px;
            color: $gray-dark;
            margin-bottom: 5px;
        }

        .task-menu-toggle {
            position: absolute;
            right: 10px;
            bottom: 5px;
        }
    }

    &.todo-card {
        h2 {
            background-image: linear-gradient(to right, #00587d, #005e85, #00638d, #006995, #006f9d);
        }
    }

    &.progress-card {
        h2 {
            background-image: linear-gradient(to right, #f36d6d, #f37575, #f37c7c, #f38484, #f28b8b);
        }
    }

    &.completed-card {
        h2 {
            background-image: linear-gradient(to right, #6fcb5c, #7ad068, #84d673, #8edb7f, #98e08a);
        }
    }
    
}