<div uk-grid>
  <div class="uk-width-1-3@m uk-width-1-1@s">
    <div class="uk-section uk-section-muted uk-padding-small task-section todo-card">
      <div uk-height-viewport="offset-top: 90" class="scrollable">
        <h2 class="tasks-title">Todo ({{ todosTasksData?.length }})</h2>
        <div *ngIf="loadingTodosTasks">
          <div class="uk-card uk-card-default uk-card-large uk-card-body">
            <h3 class="uk-card-title">Loading...</h3>
          </div>
        </div>

        <div *ngIf="!loadingTodosTasks">
        <div class="uk-card uk-card-default uk-card-body task-card uk-padding-small uk-margin" *ngFor="let item of todosTasksData">
            <div class="uk-card-badge uk-label">{{ item.priority }}</div>
            <h4 class="uk-card-title">{{ item.task }}</h4>
            <p class="uk-margin-remove uk-width-5-6">{{ item.description }}</p>
            <button class="task-menu-toggle" [matMenuTriggerFor]="menu" mat-icon-button>
                <mat-icon aria-label="Menu icon">more_horiz</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openEditTaskDialog(item)">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item [matMenuTriggerFor]="moveTask">
                  <mat-icon>input</mat-icon>
                  <span>Move taks to</span>
              </button>
              <button mat-menu-item (click)="openViewHistory(item)">
                <mat-icon>history</mat-icon>
                <span>View History</span>
              </button>
              <mat-divider></mat-divider>
              <button mat-menu-item (click)="deleteTask(item)">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>

            <mat-menu #moveTask="matMenu">
                <button mat-menu-item (click)="updateTaskStatus(item, 'INPROGRESS')">In progress</button>
                <button mat-menu-item (click)="updateTaskStatus(item, 'COMPLETED')">Completed</button>
            </mat-menu>
        </div>
        <button class="uk-width-1-1 uk-padding" style="border: 2px dashed" (click)="openAddTaskDialog()" color="primary" mat-button>Add new task</button>
      </div>
      </div>
    </div>
  </div>
  <div class="uk-width-1-3@m uk-width-1-1@s">
    <div class="uk-section uk-section-muted uk-padding-small task-section progress-card">
      <div uk-height-viewport="offset-top: 90" class="scrollable">
        <h2 class="tasks-title">In progess ({{ inProgressTasksData?.length }})</h2>
        <div *ngIf="loadinginProgressTasks">
          <div class="uk-card uk-card-default uk-card-large uk-card-body">
            <h3 class="uk-card-title">Loading...</h3>
          </div>
        </div>

        <div *ngIf="!loadinginProgressTasks">
        <div class="uk-card uk-card-default uk-card-body task-card uk-padding-small uk-margin" *ngFor="let item of inProgressTasksData">
            <div class="uk-card-badge uk-label">{{ item.priority }}</div>
            <h4 class="uk-card-title">{{ item.task }}</h4>
            <p class="uk-margin-remove uk-width-5-6">{{ item.description }}</p>
            <button class="task-menu-toggle" [matMenuTriggerFor]="menu" mat-icon-button>
                <mat-icon aria-label="Menu icon">more_horiz</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openEditTaskDialog(item)">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item [matMenuTriggerFor]="moveTask">
                  <mat-icon>input</mat-icon>
                  <span>Move taks to</span>
              </button>
              <button mat-menu-item (click)="openViewHistory(item)">
                <mat-icon>history</mat-icon>
                <span>View History</span>
              </button>
              <mat-divider></mat-divider>
              <button mat-menu-item (click)="deleteTask(item)">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>

            <mat-menu #moveTask="matMenu">
                <button mat-menu-item (click)="updateTaskStatus(item, 'COMPLETED')">Completed</button>
                <button mat-menu-item (click)="updateTaskStatus(item, 'TODO')">Todo</button>
            </mat-menu>
        </div>
        
        <button class="uk-width-1-1 uk-padding" style="border: 2px dashed" (click)="openAddTaskDialog()" color="primary" mat-button>Add new task</button>
      </div>
      </div>
    </div>
  </div>
  <div class="uk-width-1-3@m uk-width-1-1@s">
    <div class="uk-section uk-section-muted uk-padding-small task-section completed-card">
      <div uk-height-viewport="offset-top: 90" class="scrollable">
        <h2 class="tasks-title">Done ({{ completedTasksData?.length }})</h2>
        <div *ngIf="loadingCompletedTasks">
          <div class="uk-card uk-card-default uk-card-large uk-card-body">
            <h3 class="uk-card-title">Loading...</h3>
          </div>
        </div>

        <div *ngIf="!loadingCompletedTasks">
        <div class="uk-card uk-card-default uk-card-body task-card uk-padding-small uk-margin" *ngFor="let item of completedTasksData">
            <div class="uk-card-badge uk-label">{{ item.priority }}</div>
            <h4 class="uk-card-title">{{ item.task }}</h4>
            <p class="uk-margin-remove uk-width-5-6">{{ item.description }}</p>
            <button class="task-menu-toggle" [matMenuTriggerFor]="menu" mat-icon-button>
                <mat-icon aria-label="Menu icon">more_horiz</mat-icon>
            </button>

              <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openEditTaskDialog(item)">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item [matMenuTriggerFor]="moveTask">
                  <mat-icon>input</mat-icon>
                  <span>Move taks to</span>
              </button>
              <button mat-menu-item (click)="openViewHistory(item)">
                <mat-icon>history</mat-icon>
                <span>View History</span>
              </button>
              <mat-divider></mat-divider>
              <button mat-menu-item (click)="deleteTask(item)">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>

            <mat-menu #moveTask="matMenu">
                <button mat-menu-item (click)="updateTaskStatus(item, 'INPROGRESS')">In progress</button>
                <button mat-menu-item (click)="updateTaskStatus(item, 'TODO')">Todo</button>
            </mat-menu>
        </div>
        
        <button class="uk-width-1-1 uk-padding" style="border: 2px dashed" (click)="openAddTaskDialog()" color="primary" mat-button>Add new task</button>
      </div>
      </div>
    </div>
  </div>
</div>