/* You can add global styles to this file, and also import other style files */
@import '../src/assets/scss/uikit-override';

@import 'node_modules/uikit/src/scss/variables-theme';
@import 'node_modules/uikit/src/scss/variables';
@import 'node_modules/uikit/src/scss/mixins-theme';
@import 'node_modules/uikit/src/scss/uikit';
@import 'node_modules/uikit/src/scss/uikit';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,700');
@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    background-image: url('/assets/images/bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.scrollable {
    overflow-y: auto;
}