<h1 mat-dialog-title>Confirm</h1>
<div mat-dialog-content>
  <p>Are you sure you want to delete <strong>{{ data.name }}</strong> {{ data.type }}</p>
</div>


<div mat-dialog-actions class="uk-align-right">
  <button mat-button (click)="onCancel()">NO</button>
  <button mat-button (click)="onConfirm()" color="primary" cdkFocusInitial>YES</button>
</div>